h3 {
    color: #272727;
    width: 700px;
    height: 250px;
    font-size: 80px;
    font-weight: 800;
}

.Header-caption {
    margin-top: 30px;
    margin-bottom: 32px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);

}

.shop-now-btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    font-size: 18px;
}

.full-header {
    padding-top: 0px;
    padding-left: 150px;
    padding-bottom: 50px;

}

header {
    background-color: rgba(229, 84, 115, 0.10);
    padding-bottom: 0px;

}

.flower-image {
    position: static;
    padding-top: 100px;
    display: block;

}

.header-box0 {
    display: inline-block;
}

/* BODY SECTION  */
/* MAin */
.body-box-1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 80px;
}

.body-caption-1 {
    margin-left: 500px;
    margin-right: 500px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.flower-tree {
    display: inline-block;
    margin: 20px;


}

.flower-tree-box {
    padding-left: 190px;

}

#flower1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}

#flower2 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#flower3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

h6 {
    display: inline-block;
    font-size: 22px;
    margin-top: 0px;
    gap: 100px;
    margin-left: 260px;
}

.about-section {
    padding-top: 15px;
    margin-left: 240px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    margin-right: 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

#image {
    display: inline-block;
    margin-left: 200px;

}

.about-titles-3 {
    display: inline;
    margin: 45px;


}

.about-titles {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;

}

.Hot-deal {
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal-description {
    text-align: center;
    display: flex;
    width: 580px;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 200px;

}

h4 {
    padding-left: 30px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;


}

.off {
    color: #E55473;
}

#signup-btn {
    margin-left: 220px;
}

.hot-deal-tree {
    display: inline-block;
}

.img-2 {
    display: inline-block;
    margin: 20px;
}

.instagram-description {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.footer-deals-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 300px;

}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.email-input{
    /* width: 700px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF; */
background-color: #FFFFFF;
margin-left: 100px;
text-align: left;
/* margin-right: 600px; */
margin-top: 60px;
padding-top: 20px;
padding-bottom: 20px;
padding-right:400px;
padding-left: 20px;
border-radius: 8px;
background: #FFF;
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;




}
.subscribe-btn{
    width: 150px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 10px;
}


.Subscribe{
    display: inline-block;
}
.footer-search{  
    padding-bottom: 300px;
    text-align: center;
    background-image: url('Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
}






/* FOOTER SECTION */
#flower-shop-logo {
    color: #E55473;
}

.footer-section {
    text-align: center;
    background: #111010;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#flower-shop-logo-2 {
    color: #FFFFFF;
}

.flowershop-description {
    text-align: center;
    color: white;
    width: 625px;
    margin-left: 400px;
    flex-shrink: 0;
}

.all-rights-resurved {
    /* color: white; */
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    margin-top: 30px;
    font-weight: 400;

}