h3 {
    color: #272727;
    width: 700px;
    height: 250px;
    font-size: 80px;
    font-weight: 800;
}

.Header-caption {
    margin-top: 30px;
    margin-bottom: 32px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);

}

.shop-now-btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    font-size: 18px;
}

.full-header {
    padding-top: 0px;
    padding-left: 150px;
    padding-bottom: 50px;

}

header {
    background-color: rgba(229, 84, 115, 0.10);
    padding-bottom: 0px;

}

.flower-image {
    position: static;
    padding-top: 100px;
    display: block;

}

.header-box0 {
    display: inline-block;
}

/* BODY SECTION  */
/* MAin */
.body-box-1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 80px;
}

.body-caption-1 {
    margin-left: 500px;
    margin-right: 500px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.flower-tree {
    display: inline-block;
    margin: 20px;


}

.flower-tree-box {
    padding-left: 190px;

}

#flower1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}

#flower2 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#flower3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

h6 {
    display: inline-block;
    font-size: 22px;
    margin-top: 0px;
    gap: 100px;
     margin-left: 260px;
}
.heading-6{
    /* text-align: center; */
   
}